#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

body{
  background-color: rgb(56, 54, 54);
  color: whitesmoke
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(107, 105, 105);
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.regButton {
  margin-left: 35px;
  padding: 10px 15px;
  scale: 120%;
}

.jobButton {
  flex-grow: 1;
  max-width: 10%;
  margin: 0 20%;
  padding: 10px 10px;
  scale: 120%;
}

.loginButton {
  margin-right: 40px;
  padding: 10px 15px;
  scale: 120%;
}

.dropdownReg {
  position: relative;
  display: inline-block;
}

.dropdownLog {
  position: relative;
  display: inline-block;
}

.regDrop{
  position: absolute;
  top: 100%;
  left: 0;
  padding: 16px 0px;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.loginDrop {
  position: absolute;
  top: 100%;
  right: 0;
  padding: 16px 0px;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.regDrop button,
.loginDrop button {
  width: 100%;
  margin-bottom: 13px;
  scale: 120%;
}